.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: var(--black-background);
        color: var(--text-light);
    }

    .header a {
        color: var(--text-light);
        text-decoration: none;
        margin-left: 20px;
        font-size: 18px;
    }

    .header a:hover {
        text-decoration: underline;
    }
