.searchContainer {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelSearch {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 300px;
    width: 100%;
}

.labelTextSearch {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--text-light);
}

.inputSearch {
    padding: 8px 16px;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    
    .labelSearch {
       min-width: 400px;
    }

    .labelTextSearch {
       font-size: 26px;
   }

}