.searchContainer {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelSearch {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 440px;
    width: 100%;
}

.labelTextSearch {
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.inputSearch {
    padding: 8px 16px;
    border-radius: 4px;
}