.containerContacts {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.phoneTitle {
    align-items: center;
    background: linear-gradient(45deg, #aad7e8, #6e7172);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-top: 30px;
    font-weight: 700;
    font-size: 36px;
}