.containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.heroTitle {
    background: linear-gradient(45deg, #aad7e8, #6e7172);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.moji {
    font-weight: 700;
    font-size: 38px;  
}

@media screen and (min-width: 768px) {
.heroTitle {
    font-size: 48px;
}
.moji {
    font-size: 48px;
}

}

@media screen and (min-width: 1158px) {
.heroTitle {
    font-size: 68px;
}
.moji {
    font-size: 68px;
}

}
