.containerNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerLink {
    padding: 10px 0;
    color: var(--text-light);
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.3s, text-shadow 0.3s
}

.active {
    text-decoration: underline;
    color: var(--dark-blue-background);
}

@media screen and (min-width: 768px) {
.containerNav {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

