.containerNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerLink {
    color: var(--text-light);
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s, text-shadow 0.3s
}

.active {
    text-decoration: underline;
    color: var(--dark-blue-background);
}

/* @media */

@media screen and (min-width: 768px) {
.containerNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
.headerLink {
        font-size: 24px;
        padding: 20px;
    }
}

@media screen and (min-width: 1158px) {
    .headerLink {
        font-size: 28px;
    }
}

