
.containerMenu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.textMenu {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var( --text-light);
}

.buttonUser {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--blue-background);
    color: var(--text-light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
  
}

.buttonUser::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

button:hover::before {
    opacity: 1;
    animation: neonShadow 1.5s infinite alternate;
}

@keyframes neonShadow {
    0% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) scale(1.5);
        opacity: 0;
    }
}

@media screen and (min-width: 768px) {
    .containerMenu {
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    .textMenu {
        font-size: 24px;
        font-weight: 700;
    }
}

@media screen and (min-width: 1158px) {
    .textMenu {
        font-size: 28px;
    }
}
